<h1> thong tin sinh vien @ViewBag.message</h1>
<form asp action="Index">
    <input type="text" name="StudentID" placeholder="Nhap ma sinh vien">
    <input type="text" name="fullname" placeholder="Ho ten sinh vien">
    <input type="submit" value="gui">
</form>